# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.android

/backend/tmp

/backend/.env

/frontend/.env
/*.keystore
/frontend/android/*.keystore
/frontend/android/app/*.keystore

.env
local.properties
